-i https://mirrors.bfsu.edu.cn/pypi/web/simple/

aiofiles~=0.8.0
Jinja2~=3.0.3
sanic~=21.12.1
Werkzeug~=2.0.2
SQLAlchemy~=1.4.29
aiosmtplib~=1.1.6
PyJWT~=2.3.0
aiomysql~=0.0.22
ipaddr~=2.2.0
asyncudp~=0.7.0
dnslib~=0.9.19
pylru~=1.2.1
dukpy~=0.2.3
sanic-cors~=2.2.0
